services:
  frontend:
    build: ./frontend
    ports:
      - 5173:5173
    volumes:
      - ./frontend:/app

  backend:
    build: ./backend
    ports:
      - 8000:8000
    volumes:
      - ./backend:/var/www/html
